* {
  text-decoration: none;
  list-style-type: none;
}

.container {
  margin: 0 auto;
  width: 90%;
}

.inputData {
  padding: 5px;
  font-size: 14px;
  width: 135px;
  text-align: center;
  height: 22px;
}

